body {
    background-color: rgb(29, 29, 29);
    max-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.conteiner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:auto;
}

.conteiner .selection {
    position: relative;
    width: 100%;
    height: 100%;
}
.conteiner .selection:nth-child(1)
{
    background: url(img/bg1.png);
    background-size: cover;
    background-attachment: fixed;
}
.conteiner .selection:nth-child(2)
{
    background: url(img/bg2.png);
    background-size: cover;
    background-attachment: fixed;
}
.conteiner .selection:nth-child(3)
{
    background: url(img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.magaz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style:preserve-3d;
}
.magaz .box
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    background: midnightblue;
    border-radius: 20px;
    transform-style:preserve-3d;
}
.magaz .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style:preserve-3d;
    transform: translate3d(0,0,150px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.magaz .box:hover .name {
    top: 40px;
    opacity: 1;
}
.magaz .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style:preserve-3d ;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.magaz .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}
.magaz .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transform-style:preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(-15deg);
}
.magaz .box:nth-child(1) .buy{
    background: aquamarine;
}
.magaz .box:nth-child(2) .buy{
    background: darkslateblue;

}
.magaz .box:nth-child(3) .buy{
    background: darkorchid;

}

.text_g1{
    transform: translate3d(0%,398%,30px);
    width: 300px;
    transform-style:preserve-3d;
}
.text_g2{
    transform: translate3d(0%,298%,40px);
    width: 300px;
    transform-style:preserve-3d;
}
.text_g3{
    transform: translate3d(0%,170%,50px);
    width: 300px;
    transform-style:preserve-3d;
}
.osn {
    width: 80%;
    height: 1900px;
    background: rgb(35, 35, 35);
    margin: auto;
}